.heading {
     display: flex;
}

.heading_flag {
      flex: 1;
}

.heading button {
      border: none;
      background-color: transparent;
}.heading_area,
.heading_name, 
.heading_gini,
.heading_population {
     flex: 4;
     padding: 20px;
     color:  var(--text-color-secondary); 
     background-color: transparent;
     font-weight: 500;
     cursor: pointer;
}

.row {
   display: flex;
   padding: 20px;

   text-align: center;

   cursor: pointer;
   border-radius: 8px;
   margin-bottom: 80px;
   box-shadow: var(--box-shadow);
   font-weight: 500;
   transition: transform 200ms ease-in-out, box-shadow 200s ease-in-out;
}

.row:hover {
       transform: translateY(-10px);
       box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5)
}

.population {
      flex: 1;
    
}
.name {
      flex:4;
      text-align: left ;
}
.area {
      flex: 4;
    
}
.gini {
      flex: 4;
    
}

.flag {
      flex: 1;
      margin-right: 16px;
}

.flag img {
       width: 100%;
       border-radius: 2px;     
}

@media screen and (max-width: 720px){
            .flag, .area, .gini{
                  display: none;
            }
 }