.wrapper {
     display: flex;
     align-items: center; 
     
     border: 1px solid rgba(63, 62, 62, 0.287);
     border-radius: 5px;
     padding-left: 16px;
     background-color: var(--background-color-dark);
}

.input {
      border: none;
      padding: 16px;
      height: 100%;
      width: 100%;
      outline: none;

      color:  var(--text-color-secundary);
}

.input::placeholder { 
     color: var(--text-color-secondary);

}
